.calculator {
    height: 500px;
    width: 415px;
    border-radius: 5px;
    border: solid 2px #0000FF;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4 25%);
    grid-template-rows: 1fr 70px 70px 70px 70px 70px;
}